<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>关于我</title>
    <link rel="stylesheet" type="text/css" href="../static/css/my.css" th:src="@{/css/my.css}">
</head>

<body>
<!--导航-->
<nav th:replace="_fragments :: menu(5)"></nav>


<!-- 中间内容 -->
<div class="my-container my-padded-tb-big">
    <div class="ui container">
        <div class="ui grid">
            <!-- 左边布局 -->
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="../static/images/index-image/005.png" alt="" class="ui rounded image">
                </div>
            </div>
            <!-- 右边布局 -->
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui center aligned header">关于我</div>
                </div>
                <!-- 自我介绍 -->
                <div class="ui attached segment">
                    <p class="my-text-thin my-text-lined my-text-spaced">杨宇航，一个畅游在0和1的世界中的编程爱好者，幽默、搞笑，喜欢搞一些看起来稀奇古怪的玩意儿...</p>
                    <p class="my-text-thin my-text-lined my-text-spaced">在博客上记录着生活和学习中的点点滴滴，希望可以给来到本博客的人带来一些技术上的灵感或生活中的快乐~~~</p>
                </div>
                <!-- 自我标签 -->
                <div class="ui attached segment">
                    <div class="ui blue left pointing basic label my-margin-tb-tiny">编程</div>
                    <div class="ui blue left pointing basic label my-margin-tb-tiny">思考</div>
                    <div class="ui blue left pointing basic label my-margin-tb-tiny">幽默</div>
                    <div class="ui blue left pointing basic label my-margin-tb-tiny">游戏</div>
                    <div class="ui blue left pointing basic label my-margin-tb-tiny">乐观派</div>
                </div>
                <!-- 技术标签 -->
                <div class="ui attached segment">
                    <div class="ui teal right pointing basic label my-margin-tb-tiny">Python</div>
                    <div class="ui teal right pointing basic label my-margin-tb-tiny">Java</div>
                    <div class="ui teal right pointing basic label my-margin-tb-tiny">HTML</div>
                    <div class="ui teal right pointing basic label my-margin-tb-tiny">CSS</div>
                    <div class="ui teal right pointing basic label my-margin-tb-tiny">MySQL</div>
                </div>
                <!-- 联系图标 -->
                <div class="ui bottom attached center aligned segment">
                    <a href="#" class="ui github circular icon button" data-content="SkyGrass" data-position="top center"><i class="github icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="1667191252" data-position="top center"><i class="qq icon"></i></a>
                    <a href="https://weibo.com/6047903073/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1" target="_blank"
                       class="ui weibo circular icon button" data-content="九霄云外的天草" data-position="top center"><i class="weibo icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <div class="ui wechat-qr flowing popup transition hidden">
                        <img src="../static/images/we-chat.png" alt="" class="ui rounded image" style="width: 110px">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--底部footer-->
<footer th:replace="_fragments :: fotter"></footer>


<!-- 框架依赖引入 -->
<script th:replace="_fragments :: script"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.my-item').toggleClass('my-mobile-hide');
        })

        $('.github').popup();
        $('.qq').popup();
        $('.weibo').popup();
        $('.wechat').popup({
            popup : $('.wechat-qr'),
            position : 'top center'
        });
    </script>
</body>
</html>
